---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=1234567898&From=9494080528
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhZDI2ZjVmMDE0NDNmNGJiM2IyYTQxNGY4NWZkYWM5YjpkNzYyNTc2YTEzNGE0YWNlNzc5NDJkNWY5ZGU4MWZiMA==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.111'
      Twilio-Request-Id:
      - RQe9788ca896d54f2995e316241b4099e0
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 1234567898 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Sun, 26 Feb 2017 00:02:27 GMT
recorded_with: VCR 3.0.3
